<div class="category_items_header">
  <span class="category_title">Sign up Form</span>
</div>
<p style="background:#DCEEF7; padding: 5px; font-size: 11px; text-align: center; width: 95%; margin: 5px auto ">
  Sign up is exclusive to Econet Zimbabwe subscribers.
</p>

<p></p>
<div id="user_sign_in">

<%= render 'form' %>

</div>
