<div class="category_items_header">
  <span class="category_title">Sign in Form</span>
</div>
<div id="user_sign_in">
<%= render 'sign_in_form' %>

  <p><%= link_to 'Sign up for New Access Code', :controller => 'users', :action => 'new' %></p>
</div>