<!--Start of SlideShow-->
<div id="slideshow-panel" >
<div class="slideholder">
<div id="sliderFrame">
<div id="slider">
  <img src="assets/index.jpg" alt="Name of the King" />
  <img src="assets/index2.jpg" alt="Machete"  />
  <img src="assets/index3.jpg" alt="Animal Kingdom" />
  <img src="assets/index4.jpg" alt="The Sea of Monsters" />
</div>

</div>
</div>
</div>
<!--End of Slideshow-->