 <div class="category_items_header">
  <span class="category_title">Enter the Access Code to activate your account</span>
</div>
 <%= form_tag( { :action => :activate,:id => params[:id] }, { :method => :post }) %>
  <table style="padding: 10px; width:45%">

  <tr>
    <td>Access Code</td>
    <td>
      <%= password_field_tag :random_pass, params[:random_pass], :size => '15', :class => 'login_field' %>

    </td>
    <td><%= submit_tag "Activate" %></td>
  </tr>
</table>